<!doctype html>
<html lang="en"
            xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        </style>
     </head>
    
<body class="#F5B4A6">
    
        
            
            <header class="w3-container w3-dark-grey w3-padding-32 w3-margin-top"> 
                <center><h1><b>Food Blog</b></h1>
                    <p>Presented By <a href="home"><b>TSG</b></a></p>
                </center>
            </header>
    
    <div class="content">
            <div class="navbar">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="nav-item">
                        <a class="nav-link active" href="home">Home</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="content"><b>Login/Account Page</b></a>
                    </li>
                     
                </ul>    
            </div>
            
            
            <div class="w3-row">
      
                
                <div class="w3-col l8 s55">
                    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Post Board</h1>
                    <div class="w3-card-4 w3-margin w3-white">
                        <div class="w3-container">
                            <div class="card" th:each="post:${posts}">
                                <div class="container">
                                    <br/><p><span><b>Username:</b>&nbsp;&nbsp;</span><b><a th:href="@{/user(name=${post.user.username})}" th:text="${post.user.username}"></b></a></p>
                                    <p><span><b>Title:</b>&nbsp;&nbsp;</span><a th:text="${post.title}"></a></p> <hr/>
                                    <p><span><b>Content:</b>&nbsp;&nbsp;</span><a th:text="${post.content}"></a></p><hr/>
                                    <p><span><b>Category:</b>&nbsp;&nbsp;</span><a th:text="${post.category.name}"></a></p>
                                    <p><span><b>Tags:</b>&nbsp;&nbsp;</span><a href="/tag/?" th:each="tag: ${post.tag}" th:text="${post.tag.name}"></a></p><hr/>
                                    <p><span><b>Date Of Post:</b>&nbsp;&nbsp;</span><a th:text="${post.date}"></a></p> 
                                </div>
                           </div>
                               <div class="w5-col m9 w5-hide-small">
                               </div>
                        </div>
                    </div>
        <hr>
    </div>
                 <div class="w3-col l4">
          <!-- About Card -->
          <div class="w3-card w3-margin w3-margin-top">
            <img src="/images/hello.jpg" alt="Image" class="w3-left w3-margin-right" style="width:150px">
            <div class="w3-container w3-white">

              
                                     <div class="container">
            <div class="row">
                <h3>Create an Account</h3>
            </div>
            <div class="row">
                <form class="form form-inline" 
                        method="POST" 
                        action="addUser">
                    <input type="hidden" 
                            th:name="${_csrf.parameterName}" 
                            th:value="${_csrf.token}"/>&nbsp;
                    <div class="form-group">
                    <label for="username">Username:</label>&nbsp;
                    <input type="text" name="username" id="username">&nbsp;
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>&nbsp;
                    <input type="password" name="password" id="password">&nbsp;
                    </div>
                    <button type="submit">Add User</button>
                </form>
            </div>
        </div>

              <div sec:authorize="isAuthenticated()">
                <form class="form-inline" 
                method="POST" 
                action="/logout">
                <input type="hidden" 
                th:name="${_csrf.parameterName}" 
                th:value="${_csrf.token}"/>
                <label for="submit">
                  Logged In :&nbsp;&nbsp; <span th:text="${#authentication.name}">
                  </span>&nbsp;&nbsp;&nbsp;|
                </label>
                <button class="btn btn-link" 
                id="submit" 
                type="submit"><b>Logout</b></button>
              </form>
            </div>
          </div>
     
        </div><hr>

        
        <div class="w3-card w3-margin">
          <div class="w3-container w3-padding">
              <h4><b>Categories</b></h4>
          </div>
          <ul class="w3-ul w3-hoverable w3-white">
            <li class="w3-padding-16">
              <img src="/images/breakfast.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                  <span class="w3-large"> <a href="/category?name=breakfast"><b>Breakfast</b></a></span><br>
              <span>Start the Day Right!</span>
            </li>
            <li class="w3-padding-16">
              <img src="/images/lunch.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                  <span class="w3-large"><a href="/category?name=lunch"><b>Lunch</b></a></span><br>
              <span>Need to Refuel!</span>
            </li> 
            <li class="w3-padding-16">
              <img src="/images/dinner.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                  <span class="w3-large"><a href="/category?name=dinner"><b>Dinner</b></a></span><br>
              <span>Relax After A Long Day!</span>
            </li>   
            <li class="w3-padding-16 w3-hide-medium w3-hide-small">
              <img src="/images/snacks.jpg" alt="Image" class="w3-left w3-margin-right" style="width:25px">
                  <span class="w3-large"> <a href="/category?name=snacks"><b>Snacks</b></a></span><br>
              <span>Because Why Not?!</span>
            </li>  
          </ul>
        </div>
        <hr> 

      </div>
     
    </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
     <p>Powered By <a href="https://en.wikipedia.org/wiki/Guardians_of_the_Galaxy_(film)" target="_blank"><b>Dreamy Team TSG</b></a></p>
 </footer>   
</body>
</html>